= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :blog, placeholder: "Enter your Blog URL (Don't forget http://)"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for: #{resource.unconfirmed_email}
  .form-actions
    = f.button :submit, "Update", :class => 'btn-primary'
= link_to "Back", :back
