-if current_user.blog.blank?
  %h3 Add Your Blog!
  = render :partial => "update_blog"

-@users.sort_by{ |user| user[:first_name] }.each do |user|
  -if user.blog
    .panel.panel-success.well
      .panel-heading
        %h3.panel-title
          ="#{user.first_name} #{user.last_name}"
      .panel-body
        -if user.blog.include?('http://')
          %h4.btn.btn-info
            = link_to "#{user.blog.gsub('http://', "")}", user.blog
        -else
          %h4.btn.btn-info
            = link_to "#{user.blog}", "http://#{user.blog}"
