.page-header.center
  %h1
    ="#{current_user.first_name} #{current_user.last_name}'s Profile Page"
=image_tag current_user.gravatar_url, class: 'center-block'
.span5
  .panel.panel-success.well
    .panel-heading
      %h4="#{current_user.first_name} #{current_user.last_name}"
    .panel-body
      = current_user.email
      %h5=link_to current_user.blog, current_user.blog_url
      %h5
        = link_to "Github Repo", "http://github.com/#{current_user.gh_name}"
%br
%br
%br
%table.table.table-striped
  %thead
    %tr
      %th= "#{current_user.first_name}'s Assignments"
      -@assignments.each do |assignment|
        %th
          =assignment.date
  %tbody
    -@users.each do |user|
      -if user.id == current_user.id
        %tr
          %td
            = "#{user.first_name} #{user.last_name}"
          - @assignments.each do |assignment|
            %td
              - if user.homework_for(assignment) != nil
                - if user.homework_for(assignment).finished?
                  %span.label.label-success
                    = link_to "Complete", user.homework_for(assignment).url
                -else
                  %span.label.label-warning
                    = link_to "Incomplete", user.homework_for(assignment).url
