#accordion
  -@users.each do |user|
    %h3= user.name
    -if @repos
      %div
        %table
          %thead
            %tr
              %th Name
              %th Size
              %th Description
              %th Created At
              %th Updated At
          %tbody
            -@repos.each do |array_of_repos|
              -array_of_repos.each do |repo|
                - break if repo[1] == "Not Found"
                -if repo["owner"]["login"] == user[:gh_name]
                  %tr
                    %td
                      %a{href: repo["html_url"]}
                        =repo['name']
                    %td= repo['size']
                    %td= repo['description']
                    %td= repo['created_at']
                    %td= repo['updated_at']
