-# TODO make get rid of bootstrap stylings and use bourbon
.span4=image_tag @profile.user.gravatar_url, class: 'center-block'
.span5
  .panel.panel-success.well
    .panel-heading
      %h4="#{@profile.user.first_name} #{@profile.user.last_name}"
      %hr
    .panel-body
      %h5= @profile.user.email
      %h5=link_to @profile.user.blog, @profile.user.blog_url
      %h5
        = link_to "Github Repo", "http://github.com/#{@profile.user.gh_name}"

%table.table.table-striped
  %thead
    %tr
      %th
      %th
      %th
      %th
  %tbody
    -@assignments.sort_by{|a| a.date}.each do |assignment|
      - homework = @table[@profile.user.id][assignment.id]
      %tr
        %td
          =link_to assignment.date.strftime("%m/%d"), assignment_path(assignment), title: assignment.title, class: 'ass'
        %td
          - if homework != nil
            - if homework.finished?
              %span.label.label-success
                = link_to "Finished", homework.url
            -else
              %span.label.label-warning
                = link_to "Incomplete", homework.url
          - elsif @profile.user == current_user
            = link_to "Update", new_homework_path(form: assignment), class: 'update'
        -if @profile.user == current_user && !homework.blank?
          %td
            =link_to "Description", homework_path(homework.id)
          %td
            =link_to "Edit", edit_homework_path(homework)
        -else
          %td
          %td
