-# TODO make get rid of bootstrap stylings and use bourbon
.outer
  .inner
    .ass=image_tag @profile.user.gravatar_url, class: 'center-block avatar', title: "#{@profile.user.name}"
  .inner.bg
    %h4
      ="#{@profile.user.first_name} #{@profile.user.last_name}"
    %h5
      = @profile.user.email
    %h5
      .ass= link_to @profile.user.blog, @profile.user.blog_url, title: "#{@profile.user.name}'s Blog"
    %h5
      .ass= link_to @profile.user.gh_name, "http://github.com/#{@profile.user.gh_name}", title: "Github Account"
  .inner2
    .center.ass= link_to image_tag("http://theironyard.com/images/iron-yard-logo.svg", alt: "The Iron Yard"), "http://theironyard.com", title: "The Iron Yard"

%table.table.table-striped
  %thead
    %tr
      %th Assignment Date
      %th Status
      -if @profile.user == current_user
        %th Description
        %th Edit
  %tbody
    -@assignments.sort_by{|a| a.date}.each do |assignment|
      - homework = @table[@profile.user.id][assignment.id]
      %tr
        %td
          =link_to assignment.date.strftime("%m/%d"), assignment_path(assignment), title: assignment.title, class: 'ass'
        %td
          - if homework != nil
            - if homework.finished?
              %i.fa.fa-check.complete= link_to " Finished", homework.url
            -else
              %i.fa.fa-minus.incomplete= link_to " Incomplete", homework.url
          - elsif @profile.user == current_user
            = link_to "Update", new_homework_path(form: assignment), class: 'update'
        -if @profile.user == current_user && !homework.blank?
          %td
            =link_to "Description", homework_path(homework.id)
          %td
            =link_to "Edit", edit_homework_path(homework)
        -elsif @profile.user == current_user
          %td
          %td
