-# TODO Get Markdown Working, Show all users for just this assignment and their status

%h1= @assignment.title

%p
  %b Date:
  = @assignment.date
%p
  %b Description:
  = markdown @assignment.description

= link_to 'Edit', edit_assignment_path(@assignment)
\|
= link_to 'Back', assignments_path
