= simple_form_for @homework, :html => { :class => 'form-horizontal' } do |f|
  = f.input :link_to_homework, placeholder: 'URL to Homework Assignment'
  = f.input :finished, as: :boolean, checked_value: true, unchecked_value: false,inline_label: "Check if Finished"
  = f.input :assignment, placeholder: 'Name or Date of the Assignment'
  = f.input :help, placeholder: 'Questions or Comments'
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), homeworks_path, :class => 'btn'
