- model_class = Homework
.page-header
  %h1=t '.title', :default => "All Homework"
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name("Owner")
      -@assignments.sort_by{|a| a.date}.each do |assignment|
        %th
          =assignment.date.strftime("%m/%d")


  %tbody
    -@users.each do |user|
      %tr
        %td
          =image_tag user.gravatar_url, size: '50'
          %strong= "#{user.first_name} #{user.last_name}"
        - @assignments.each do |assignment|
          %td
            - if user.homework_for(assignment) != nil
              - unless user.homework_for(assignment).finished?
                %span.label.label-warning
                  = link_to "No", user.homework_for(assignment).url
-if user_signed_in?
  = link_to t('.new', :default => t("Update Homework Progress")), new_homework_path, :class => 'btn btn-primary'
