- model_class = Homework
.page-header
  %h1=t '.title', :default => "All Homework"
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name("Owner")
      -@assignments.each do |assignment|
        %th
          =assignment.date
  %tbody
    - @homeworks.each do |homework|
      %tr
        %td= link_to "#{homework.user[:first_name]} #{homework.user[:last_name]}", homework_path(homework)
        %td
          -if homework.finished?
            %span.label.label-success
              = link_to "Complete", homework.link_to_homework
          -else
            %td
              %span.label.label-warning
                Incomplete


-if user_signed_in?
  = link_to t('.new', :default => t("Post Assignment")), new_homework_path, :class => 'btn btn-primary'
