-# TODO add searching/sorting
- model_class = Homework
.page-header
  %h1=t '.title', :default => "All Homework"
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name("Owner")
      -@assignments.sort_by{|a| a.date}.each do |assignment|
        %th
          =link_to assignment.date.strftime("%m/%d"), assignment_path(assignment)


  %tbody
    -@users.each do |user|
      %tr
        %td
          =image_tag user.gravatar_url, size: '50'
          = link_to "#{user.first_name} #{user.last_name}", profile_path(user.profile)
        - @assignments.each do |assignment|
          %td
            - if user.homework_for(assignment) != nil
              - if user.homework_for(assignment).finished?
                %span.label.label-success
                  = link_to "Ok", user.homework_for(assignment).url
                  -# TODO make this not look like shit
                -if current_user == user
                  =link_to "Edit", homework_path(user.homework_for(assignment).id)
              -else
                %span.label.label-warning
                  = link_to "No", user.homework_for(assignment).url

-if user_signed_in?
  = link_to t('.new', :default => t("Update Homework Progress")), new_homework_path, :class => 'btn btn-primary'


  -#   %tbody
  -#     - @homeworks.each do |homework|
  -#       %tr
  -#         %td= link_to "#{homework.user[:first_name]} #{homework.user[:last_name]}", homework_path(homework)
  -#         %td
  -#           -if homework.finished?
  -#             %span.label.label-success
  -#               = link_to "Complete", homework.link_to_homework
  -#           -else
  -#             %span.label.label-warning
  -#               Incomplete
  -#
  -#
  -# -if user_signed_in?
  -#   = link_to t('.new', :default => t("Post Assignment")), new_homework_path, :class => 'btn btn-primary'
