-# TODO add searching/sorting
.page-header
  %h1=t '.title', :default => "All Homework"
%table.table
  %thead
    %tr
      %th
      %th
      - @assignments.each do |assignment|
        %th
          =link_to "#{assignment.date.strftime("%m/%d")} - #{assignment.title}", assignment_path(assignment), title: assignment.description, class: 'ass'

  %tbody
    -@users.each do |user|
      %tr
        %td= image_tag user.gravatar_url, size: '50', class: 'avatar'
        %td= link_to "#{user.first_name} #{user.last_name}", profile_path(user.profile), class: 'caption'
        - @assignments.each do |assignment|
          %td
            - homework = @table[user.id][assignment.id]
            - if homework != nil
              - if homework.finished?
                %span.label.label-success
                  = link_to "Ok", homework.url
              -else
                %span.label.label-warning
                  = link_to "No", homework.url
            - elsif user == current_user
              = link_to "Update", new_homework_path, class: 'update'
