- model_class = Homework
.page-header
  %h1=t '.title', :default => "All Homework"
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name("Owner")
      -@assignments.each do |assignment|
        %th
          =assignment.date
  %tbody
    -@users.each do |user|
      -if user.id == current_user.id
        %tr
          %td
            = "#{user.first_name} #{user.last_name}"
          - @assignments.each do |assignment|
            %td
              - if user.homework_for(assignment) != nil
                - if user.homework_for(assignment).finished?
                  %span.label.label-success
                    = link_to "Complete", user.homework_for(assignment).link_to_homework
                -else
                  %span.label.label-warning
                    = link_to "Incomplete", user.homework_for(assignment).link_to_homework



-if user_signed_in?
  = link_to t('.new', :default => t("Post Assignment")), new_homework_path, :class => 'btn btn-primary'
