%header.navigation
  .navigation-wrapper
    = link_to root_path, class: "logo" do
      %img{:alt => "", :src => "http://theironyard.com/images/iron-yard-logo.svg"}
    %a#js-mobile-menu.navigation-menu-button{:href => ""} MENU
    .nav
      %ul#navigation-menu
        %li.nav-link= link_to "Blogs", blogs_path
        %li.nav-link= link_to "Repos", repos_path

        - if current_user.try(:admin?)
          %li.nav-link.more
            %a{:href => "javascript:void(0)"} Assignments
            %ul.submenu
              %li= link_to "Post New", new_assignment_path
              %li= link_to "View All", assignments_path

        %li.nav-link.more
          %a{:href => "javascript:void(0)"} Homework
          %ul.submenu
            - if signed_in?
              %li= link_to "Update Progress", new_homework_path
            %li= link_to "View All", homeworks_path

        %li.nav-link= link_to "About", about_path
        -if current_user.try(:profile)
          %li.nav-link= link_to "Profile", profile_path(current_user.profile.id)

    .navigation-tools
      - if current_user
        = link_to current_user.email, edit_user_registration_path, class: "sign-up"
      - else
        = link_to "Login", user_omniauth_authorize_path(:github), class: "sign-up"
